div.dataTables_wrapper {
  div.dataTables_processing {
    background-color: white;
  }
}

.error {
  color: red;
}

table {
  tr {
    td {
      padding: 3px 0 !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      
      align: center;

      span {
        font-size: 12px !important;
      }

      &.amount,
      &.status {
        font-weight: 600 !important;
      }

      &:first-child {
        text-align: left;
      }
    }
  }

  thead {
    th {
      padding: 9px 0;
      text-align: center;

      &:first-child {
        padding: 9px 0;
        text-align: left;
      }
    }
  }
}

.booking_statuses.active,
.transaction_type.active,
.email_type.active {

  .status_count,
  .status_text {
    color: white !important;
  }
}

.filter_parent_div {
  flex-wrap: nowrap !important;
}

.status_for_filter {
  display: flex;
  justify-content: center;

  .status_text {
    color: #a1a5b7;
  }

  .status_count {
    margin-top: 4px;
    font-weight: bold;
    color: #7e829c;
    font-size: 14px;
  }

  .all.active {
    background-color: #d3d3d3 !important;
    color: white !important;
  }

  a {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 11px;
  }
}



[data-kt-app-layout="light-sidebar"] {
  .app-sidebar {
    .menu {

      .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
      .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
        background-color: var(--bs-app-sidebar-light-menu-link-bg-color-active);
        margin-right: 1rem;
      }
    }
  }
}

.effect:hover {
  background-color: #f0f0f0;
  /* Light grey background color on hover */
  border-left: 4px solid #4775f3;
  /* Primary color border left on hover */
}

.effect .ok:hover {
  color: #4775f3 !important;
}

.effect .menu-link:hover {
  color: #4775f3 !important;
}

.notification-bg {
  background-image: url(../../../public/media/demo/2600x1200/menu-header-bg.jpg) !important;
  background-size: cover;
  background-position: center;
  color: white;
}
.bg{
  background-image: url(../../../public/media/demo/2600x1200/menu-header-bg.jpg) !important;
  background-size: cover;
  background-position: center;
}

:root {
  --bs-primary-rgb: 27, 132, 255;
  --bs-secondary-rgb: 241, 241, 244;
  --bs-success-rgb: 23, 198, 83;
  --bs-info-rgb: 114, 57, 234;
  --bs-warning-rgb: 246, 192, 0;
  --bs-danger-rgb: 248, 40, 90;
  --bs-dark-rgb: 30, 33, 41;
}


.text-bg-light {
  color: #000000 !important;
  background-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-primary {
  color: #A8BFF7 !important;
  background-color: #F1FAFF !important;
}

.bg-light-primary {
  background-color: #f1faff !important;
}

.text-bg-secondary {
  color: #000000 !important;
  background-color: RGBA(var(--bs-secondary-rgb), ) !important;
}

.text-bg-success {
  color: #62eb7f !important;
  background-color: #E8FFF3 !important;
}

.text-bg-light-success {
  color: #09cbcb;
  background-color: #e8fff3;
}


.text-bg-info {
  color: #ab70ee !important;
  background-color: #F8F5FF !important;
}

.text-bg-warning {
  color: #f0d147 !important;
  background-color: #FFF8DD !important;
}

.text-bg-danger {
  color: #f74242 !important;
  background-color: #FFF5F8 !important;
}

.text-gray-800 {
  color: #3f4254 !important
}

.text-gray-700 {
  color: #5e6278 !important
}

.text-gray-600 {
  color: #7e8299 !important
}

.text-gray-500 {
  color: rgb(161, 165, 183) !important;
}

.text-gray-400 {
  color: #b5b5c3 !important
}

.text-muted {
  color: #a1a5b7 !important;
}

.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sidebar-link {
  color: gray !important;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
  height: 40px;
  margin-top: 5px;
}

.sidebar-link:hover {
  background-color: #F5F8FA;
}

.sidebar-link.active {
  color: #0036E3 !important;
  background-color: #F5F8FA;
}

.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}

.sidebar {
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.open {
  width: 264px !important;
}

@media (max-width: 990px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  .topbar .d-none {
    display: none !important;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  .toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    font-size: 24px;
    color: #333;
  }

  .icon {
    display: block;
  }

  .content {
    margin-top: 20px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            color: #666;
          }
        }
      }
    }
  }
}


//  .apexcharts-text {
//   opacity: 0; /* Make the text transparent */
//   pointer-events: none; /* Disable pointer events so users can't interact with hidden elements */
// }

.bg-skyblue {
  background-color: #09CBCB !important;
}

.bg-blue {
  background-color: #0036E3 !important;
}

.text-white {
  color: white !important;
}

.bg-blue:hover {
  background-color: #3366E5;
}

.text-blue {
  color: #0040DE;
}

.search-input {
  outline: none !important;
  width: 400px !important;
  transition: background-color 0.1s !important
}

.search-input:hover,
.search-input:focus {
  background-color: #E9E9E9 !important;
}





* {
  margin: 0px;
}

#sidebar {
  /*Strictly Necessary */
  position: fixed !important;
  height: 100% !important;
  width: 30% !important;
  margin: 0px !important;

  /*Aesthetics*/
  background: lightblue !important;
  border-radius: 7px !important;
}


#rightSideWrapper {
  /*Strictly Necessary */
  width: 70% !important;
  float: right !important;

  /*Aesthetics*/
  background: black !important;
}

header {
  /*Strictly Necessary */
  position: fixed !important;
  width: 70% !important;
  height: 100px !important;
  /*Adjust the hight to your purposes*/
  /*Aesthetics*/
  background: lightSalmon !important;
  border-radius: 7px !important;
}

.ContentBox {
  margin-top: 100px !important;
  /*The height of the   header*/
  display: flex !important;
  flex-flow: row wrap !important;
}

main,
section,
footer {
  /*Aesthetics*/
  background: lightgray !important;
  border-radius: 7px !important;
  margin: 5px !important;
  padding: 20px !important;
}

main {
  /*Strictly Necessary */
  height: 400px !important;
  order: 1 !important;
  flex: 0 1 100% !important;

}

section {
  /*Strictly Necessary */
  height: 400px !important;
  order: 2 !important;
  flex: 0 1 100% !important;

}

footer {
  /*Strictly Necessary */
  height: 100px !important;
  order: 3 !important;
  flex: 0 1 100% 1 !important;
}


.setdata {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer{
  height: 0px !important;
  padding: 0px !important;
}
.fix{
  max-height: 100vh !important;
}

.dashed-border {
  border-bottom: 1px dashed lightgray !important;
}
.dropdown-menu {
  transition: opacity 0.3s ease, visibility 0.3s ease !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
}

.menu-link:hover{
  color: #0036E3 !important;
}
.btn-color-primary:hover{
  color: #0036E3 !important;
}


.responsive {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.tableWrapper {
  width: 100% !important;
  overflow-x: auto !important;
}

.responsiveTable {
  width: 100% !important;
  border-collapse: collapse !important;
  min-width: 600px !important; /* Adjust this value as needed */
  max-width: 1200px !important; /* Adjust this value as needed */
}

.link {
  display: inline-block !important;
  min-width: 150px !important;
  max-width: 500px !important;
  box-sizing: border-box !important;
  text-align: center !important;
}
.dropdown-menu {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.3s ease, visibility 0.3s ease !important;
}

.dropdown-menu.show {
  opacity: 1 !important;
  visibility: visible !important; 
}

.ok{
  background-image: url(../../public/media/email/bg7.jpg);
  width: 500px;
  height: 500px;
  object-fit: cover;
}

// .dropdown-toggle i ::after {
//   // display: inline-block !important; 
//   margin-left: 0.255em !important;
//   vertical-align: 0.255em !important;
//   content: "" !important;
//   border-top: 0.3em solid !important;
//   border-right: 0.3em solid transparent !important;
//   border-bottom: 0 !important;
//   border-left: 0.3em solid transparent !important;
// }
.dropdown::after{
  display: none !important; 
}






/* Hide the Google Translate bar and other elements */
.goog-te-banner-frame {
  display: none !important; /* Hide the translation banner frame */
}

.goog-te-gadget-simple {
  display: none !important; /* Hide the Google Translate dropdown */
}

.goog-te-combo {
  display: none !important; /* Hide the dropdown in the iframe */
}

/* Hide the "Show original" and "Translate" toolbar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* Hide the white space that may be created by the banner */
body {
  top: 0px !important; /* Prevent body being pushed down */
}

/* Hides the Google Translate logo */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}
